{% extends "template.html" %}
{% block script %}
<script>
    $(document).ready(function(){
        loginHandler();
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
        {% include "modules/login.html" %}
    </div>
</div>
{% endblock %}