{% extends "template.html" %}
{% block css %}
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        photoHandler();
    });
</script>
{% endblock %}
{% block content %}
<div id="photo-container">
    <img src="http://placehold.it/1200x768" width="1200" height="768">
</div>
{% endblock %}