{% extends "template.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/transitions.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery.collagePlus.min.js"></script>
<script>
    $(document).ready(function(){
        previewHandler();
    });
</script>
{% endblock %}
{% block content %}
{% include "modules/collage.html" %}
{% endblock %}