{% extends "template.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/jquery.fileupload.css">
{% endblock %}
{% block script %}
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script>
    $(document).ready(function(){
        profileHandler();
        uploadHandler();
    });

</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div style="position: relative"><img src="http://placehold.it/1200x768" class="img-responsive"></div>
        <div style="position: absolute; top: 0px; padding: 5px;"><a href="#" id="upload-profile-photo" data-toggle="modal" data-target="#upload-profile-photo-modal"><i class="fa fa-pencil"></i></a></div>
    </div>
    <div class="col-md-9">
        <div style="position: fixed; height: 100%;">
            <div style="width: 50%; height: 100%; border-right: 1px solid #e7e7e7"></div>
        </div>
        <div class="profile">
            <div class="profile-name">
                <span>{{ profile.first_name }} {{ profile.last_name }}</span>
                <a href="#" id="profile-edit" data-toggle="modal" data-target="#profile-modal"><i class="fa fa-pencil-square fa-2x pull-right"></i></a>
            </div>
            <div class="profile-about" style="min-height: 10%">{{ profile.about }}</div>
        </div>
    </div>
</div>
<!--Upload Profile Photo Model-->
<div class="modal fade" id="upload-profile-photo-modal" tabindex="-1" role="dialog" aria-labelledby="upload-profile-photo-modal-title">
    <form action="/album/save" method="post" id="album-save-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="upload-profile-photo-modal-title">Upload Profile Photo</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                    <span class="btn btn-success fileinput-button pull-left">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>Add files</span>
                        <input id="fileupload" name="photo" type="file">
                    </span>
                    </div>
                    <br>
                    <div class="uploaded-grid">
                        <div class="clearfix" id="uploaded-row">
                            <input type="hidden" name="album_id" value="{{ user.profile_album_id }}">
                            <input type="hidden" name="type" value="profile">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="album-save">Save changes&nbsp;</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- About Modal -->
<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="profile-modal-title">
    <form class="form-horizontal" action="/profile/save" method="post" id="profile-editor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="profile-modal-title">Update Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profile-edit-name">First name</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="profile-edit-first-name" placeholder="{{ user.first_name }}" name="first_name" value="{{ user.first_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profile-edit-first-name">Last name</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="profile-edit-name" placeholder="{{ user.last_name }}" name="last_name" value="{{ user.last_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profile-edit-facebook">Facebook</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="profile-edit-facebook" placeholder="{{ user.facebook }}" name="facebook" value="{{ user.facebook }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profile-edit-twitter">Twitter</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="profile-edit-twitter" placeholder="{{ user.twitter }}" name="twitter" value="{{ user.twitter }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profile-edit-google">Google+</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="profile-edit-google" placeholder="{{ user.google }}" name="google" value="{{ user.google }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profile-edit-linkedin">LinkedIn</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="profile-edit-linkedin" placeholder="{{ user.linkedin }}" name="linkedin" value="{{ user.linkedin }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profile-edit-about">About</label>

                        <div class="col-sm-8">
                            <textarea rows=6 class="form-control" id="profile-edit-about" name="about">{{ user.about }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="profile-edit-save">Save changes&nbsp;</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}