{% extends "template.html" %}
{% block script %}
<script>
    $(document).ready(function(){
        registerHandler();
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Register</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/register" method="post" id="register-form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="email">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="first-name">First name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="first-name" placeholder="First name" name="first_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="last-name">Last name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="last-name" placeholder="Last name" name="last_name">
                        </div>
                    </div>
                    <hr style="border-color:#ccc">
                    <div class="form-group">
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg" id="register-btn">Join us </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}