{% extends "template.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/jquery.fileupload.css">
{% endblock %}
{% block script %}
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script>
$(document).ready(function () {
    uploadHandler(true);
});
</script>
{% endblock %}
{% block content %}
<div class="clearfix">
    <span class="btn btn-success fileinput-button pull-left">
        <i class="glyphicon glyphicon-plus-sign"></i>
        <span>Add files</span>
        <input id="fileupload" name="photo" multiple type="file">
    </span>
    <span class="btn btn-default pull-right" id="album-save">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        <span>Save&nbsp;</span>
    </span>
</div>
<br>
<form id="album-save-form" action="/album/save/" method="post">
    <div class="uploaded-grid">
        <div class="clearfix" id="uploaded-row">
            {% if album_id %}
            <input type="hidden" name="album_id" value="{{ album_id }}">
            {% endif %}
            <input type="hidden" name="type" value="album">
            <input type="hidden" name=photo_id value="1">
            <input type="hidden" name=photo_id value="2">
            <input type="hidden" name=photo_id value="3">
        </div>
    </div>
</form>
{% endblock %}