<div id="collage">
    <img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125"><img photo_id="asdgf" src="http://placehold.it/125x125" width="125" height="125">
</div>