<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-lock"></i> Login</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="/login/" method="post" id="login-form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">Password</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="login-btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="well well-lg">
    <div class="text-center">
        <a href="/register"><strong>Register with us</strong></a>
    </div>
</div>