html, body {
    height: 100%;
}

.uploaded {
    width: 140px;
    height: 140px;
    text-align:center;
    float: left;
}

.uploaded div {
    width: 125px;
    height: 125px;
    line-height: 125px;
    border: 1px solid #ccc;
    float: left;
}

#collage {
    padding: 10px;
}

#photo-container {
    text-align: center;
}

.profile {
    margin-left: 20px;
    margin-right: 20px;
}

.profile-name {
    font-weight: bold;
}

.profile-about {
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    margin-right: 80px;
    padding-top: 20px;
}